################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NexOrder.OrderService.Application/bin/Debug/net8.0
/NexOrder.OrderService.Domain/bin/Debug/net8.0
/NexOrder.OrderService.Domain/obj
/NexOrder.OrderService.Infrastructure/bin/Debug/net8.0
/NexOrder.OrderService.Infrastructure/obj
/NexOrder.OrderService.Messages/bin/Debug/net8.0
/NexOrder.OrderService.Messages/obj
/NexOrder.OrderService.Shared/bin/Debug/net8.0
/NexOrder.OrderService.Shared/obj
/.vs
/NexOrder.OrderService.Application/obj/Debug/net8.0
/NexOrder.OrderService.Application/obj/NexOrder.OrderService.Application.csproj.nuget.dgspec.json
/NexOrder.OrderService.Application/obj/NexOrder.OrderService.Application.csproj.nuget.g.props
/NexOrder.OrderService.Application/obj/NexOrder.OrderService.Application.csproj.nuget.g.targets
/NexOrder.OrderService.Application/obj/project.assets.json
/NexOrder.OrderService.Application/obj/project.nuget.cache
