# Docs for the Azure Web Apps Deploy action: https://github.com/azure/functions-action
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy dotnet core project to Azure Function App - NexOrder-OrderService

on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  AZURE_FUNCTIONAPP_PACKAGE_PATH: '.' # set this to the path to your web app project, defaults to the repository root
  DOTNET_VERSION: '8.0.x' # set this to the dotnet version to use

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write #This is required for requesting the JWT
      contents: read #This is required for actions/checkout

    steps:
      - name: 'Checkout GitHub Action'
        uses: actions/checkout@v4

      - name: Setup DotNet ${{ env.DOTNET_VERSION }} Environment
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: 'Resolve Project Dependencies Using Dotnet'
        shell: bash
        run: |
          pushd './${{ env.AZURE_FUNCTIONAPP_PACKAGE_PATH }}'
          dotnet build --configuration Release --output ./output
          popd

      - name: Clear NuGet cache
        run: dotnet nuget locals all --clear

      - name: Install EF Core CLI
        run: dotnet tool install --global dotnet-ef --version 8.0.22

      - name: Apply EF Core migrations
        run: |
          dotnet ef database update \
            --project NexOrder.OrderService.Infrastructure \
            --startup-project NexOrder.OrderService.Infrastructure \
            --context OrdersContext
        env:
          ConnectionStrings__SystemDbConnectionString: ${{ secrets.SQL_CONN }}
      
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_64431D892C72484495D1E8D457B6EF44 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_77A068DF73B84DB19640D863DE785B00 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_77D9ED30E68B41CE83E0A7F3694F447E }}

      - name: 'Run Azure Functions Action'
        uses: Azure/functions-action@v1
        id: fa
        with:
          app-name: 'NexOrder-OrderService'
          slot-name: 'Production'
          package: '${{ env.AZURE_FUNCTIONAPP_PACKAGE_PATH }}/output'

          
